<!--<div class="container-lg mt-4 mb-4">-->
<!--  <div class="row justify-content-md-center">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-6 col-md-6 banner">-->
<!--        <div class="policy-title">Quyền lợi thành viên</div>-->
<!--        <div class="policy-content">-->
<!--          <p>Mua hàng cực kì nhanh chóng và dễ dàng</p>-->
<!--          <p>Theo dõi đơn hàng chi tiêt và thuận tiện</p>-->
<!--          <p>Nhận được nhiều chương trình ưu đãi và khuyến mãi</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6 col-md-6">-->
<!--        <div class="card">-->
<!--          <div class="card-header">-->
<!--            <h4 class="card-title">Đăng nhập</h4>-->
<!--          </div>-->
<!--        <div class="card-body">-->
<!--        <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--          <div class="row">-->
<!--                <mat-form-field appearance="outline">-->
<!--                  <mat-label>USER</mat-label>-->
<!--                  <input matInput placeholder="Email">-->
<!--                </mat-form-field>-->
<!--                <mat-form-field appearance="outline">-->
<!--                  <mat-label>USER</mat-label>-->
<!--                  <input matInput placeholder="Email">-->
<!--                </mat-form-field>-->
<!--              </div>-->
<!--          <button mat-raised-button color="primary" type="submit">Đăng ký</button>-->
<!--        </form>-->
<!--        </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Xin chào</h3>

              <!-- Sign In Form -->
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                  <mat-form-field>
                    <mat-label>Tài khoản</mat-label>
                    <input matInput type="text" placeholder="Tài khoản" formControlName="username">
                  </mat-form-field>
                  <mat-error *ngIf="form.get('username').touched && !form.get('username').valid">
                    <p *ngIf="form.get('username').hasError('required')">Tài khoản không được để trống</p>
                  </mat-error>
<!--                  <pre>{{form.controls.username.errors | json}}</pre>-->
                </div>


                <div class="form-floating mb-3">
                  <mat-form-field>
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput [type]="passwordType ? 'text' : 'password'" placeholder="Mật khẩu" formControlName="password">
                    <mat-icon  style="position: absolute; right: 10px ;cursor: pointer;" (click)="passwordType = !passwordType">
                      {{ passwordType ? 'visibility' : 'visibility_off' }}
                    </mat-icon>
                  </mat-form-field>
                  <mat-error *ngIf="form.get('password').touched && !form.get('password').valid">
                    <p *ngIf="form.get('password').hasError('required')">Tên không được để trống</p>
                  </mat-error>
<!--                  <pre>{{form.controls.password.errors | json}}</pre>-->
                </div>

                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Đăng nhập</button>
                  <div class="d-flex">
                      <a class="small" routerLink="/forgot-password">Quên mật khẩu?</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
