<div class="" mat-dialog-title>
  <h1>Thêm nguồn gốc</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="content" mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nguồn gốc</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      <mat-error *ngIf="form.get('name').touched && !form.get('name').valid">
        <p *ngIf="form.get('name').hasError('required')">Không được để trống</p>
      </mat-error>
      <mat-form-field appearance="outline">
        <mat-label>Khu vực</mat-label>
        <mat-select
                [compareWith]="compareFn"
                formControlName="continent">
          <mat-option *ngFor="let c of continent" [value]="c">{{c}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ghi chú</mat-label>
        <input type="text" matInput formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Trạng thái</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="true">Mở</mat-option>
          <mat-option [value]="false">Đóng</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="action" mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="false">Hủy bỏ</button>
    <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">{{data ? 'Cập nhật' :'Lưu'}}</button>
  </div>
</form>
