<div class="" mat-dialog-title>
  <h1>Chọn sản phẩm vào giỏ hàng</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="content" mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Tên sản phẩm</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Chi tiết sản phẩm</mat-label>
        <mat-select
          [compareWith]="compareObjectFunction"
          formControlName="productDetailDto"
          (selectionChange)="onProductDetailChange($event)">
          <mat-option [value]="''">Không</mat-option>
          <mat-option *ngFor="let c of productDetailDtos" [value]="c">{{c.weight}}kg với giá {{c.price}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="action" mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="false">Hủy bỏ</button>
    <button mat-raised-button color="primary" type="submit">Thêm vào giỏ hàng</button>
  </div>
</form>
