<section class="bread-crumb">
  <div class="container">
    <div class="bread-crumb-title text-center">
      GIỎ HÀNG
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a [routerLink]="'/home'">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>
          Giỏ hàng
        </strong> </li>
      </ol>
    </nav>
  </div>
</section>
<body>
<!-- Cart Start -->
<div class="container-fluid pt-5">
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <mat-spinner color="primary"></mat-spinner>
  </div>
  <div *ngIf="!isLoading" class="row px-xl-5">
    <ng-container *ngIf="cartItems.length > 0 && cartItems; else noCartItems">
      <div class="col-lg-8 table-responsive mb-5">
        <table class="table table-bordered text-center mb-0">
          <thead class="bg-secondary text-dark">
          <tr>
            <th>Sản phẩm</th>
            <th>Khối lượng</th>
            <th>Giá tiền</th>
            <th>Số lượng</th>
            <th>Tổng cộng</th>
            <th>Hành động</th>
          </tr>
          </thead>
          <ng-container>
            <tbody class="align-middle">
            <tr *ngFor="let item of cartItems; let i = index" >
              <td class="align-middle">
                <div class="product-info">
                  <div class="product-image-container">
                    <img [src]="item.productImage.url" alt="" class="product-image">
                  </div>
                  <div class="product-details">
                    <span class="product-name">{{ item.productName}}</span>
                  </div>
                </div>
              </td>
              <td class="align-middle">{{ item.productDetail.weight | convertUnit: item.productDetail.categoryId}}</td>
              <td class="align-middle">
                <span>{{ item.price | currencyVND}}</span>
                <p *ngIf="voucher!=null && voucher?.category?.id === item.productDetail.categoryId" class="mb-0 fs-14"><s>{{item.price / (1 -  voucher.discount/100) | currencyVND }}</s></p>
                <p *ngIf="voucher!=null && voucher.category===null" class="mb-0 fs-14"><s>{{item.price / (1 -  voucher?.discount/100) | currencyVND }}</s></p>
              </td>
              <td class="align-middle">
                <div class="input-group quantity mx-auto btn-group-quantity">
                  <div class="input-group-btn">
                    <button *ngIf="username;else decrease" class="btn btn-sm btn-primary btn-minus" (click)="selectedCartItem = item;updateCartItemQuantity(item.id, -1)">
                      <i class="fa fa-minus"></i>
                    </button>
                    <ng-template #decrease>
                      <button class="btn btn-sm btn-primary btn-minus" (click)="decrementQuantity(item)" >
                        <i class="fa fa-minus"></i>
                      </button>
                    </ng-template>
                  </div>
                  <input type="number" [disabled]="true" [max]="99" [min]="1" class="form-control form-control-sm bg-secondary text-center"  [(ngModel)]="item.quantity" [ngModelOptions] = "{standalone: true}">
                  <div class="input-group-btn">
                    <button *ngIf="username;else increase"  class="btn btn-sm btn-primary btn-plus" (click)="selectedCartItem = item;updateCartItemQuantity(item.id, 1)" >
                      <i class="fa fa-plus"></i>
                    </button>
                    <ng-template #increase>
                      <button class="btn btn-sm btn-primary btn-plus" (click)="incrementQuantity(item)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </ng-template>
                  </div>
                </div>
              </td>
              <td class="align-middle">
                <span>{{ item.total | currencyVND}}</span>
                <p *ngIf="voucher!=null && voucher?.category?.id === item.productDetail.categoryId" class="mb-0 fs-14"><s> {{ item.total / (1-voucher.discount/100) | currencyVND}} </s></p>
                <p *ngIf="voucher!=null && voucher?.category===null" class="mb-0 fs-14"><s> {{ item.total / (1-voucher?.discount/100) | currencyVND}} </s></p>
              </td>
              <td class="align-middle">
                <button class="btn btn-sm btn-primary" (click) = "openDeleteCartItemDialog(item)">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </ng-container>
        </table>
      </div>
      <div class="col-lg-4">
        <form class="mb-5" [formGroup]="voucherForm" (ngSubmit)="applyVoucher()">
          <div class="input-group">
            <input *ngIf="voucher!=null;else inputVoucher" type="text" [value]="voucher.code" class="form-control p-4" [disabled]="true">
            <ng-template #inputVoucher>
              <input type="text" formControlName ="code" class="form-control p-4" placeholder="Coupon Code">
            </ng-template>
            <div class="input-group-append">
              <button type="button" *ngIf="voucher!=null; else enterVoucher" (click)="openChangeVoucher(voucher)" class="btn btn-primary">
                <span> <mat-icon fontIcon="change_circle" style="vertical-align: middle"></mat-icon></span>
              </button>
              <ng-template #enterVoucher>
                <button [disabled]="voucherForm.invalid" type="submit" class="btn btn-primary">Nhập mã voucher</button>
              </ng-template>
            </div>
          </div>
        </form>
        <div class="card border-secondary mb-5">
          <div class="card-header bg-secondary border-0">
            <h3 class="font-weight-semi-bold m-0">Tổng quan giỏ hàng</h3>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3 pt-1">
              <h3 class="font-weight-medium">Tạm tính</h3>
              <h3 *ngIf="voucher!==null" class="font-weight-medium">{{subTotal - subTotalDiscount + (subTotalDiscount / (1 - voucher?.discount/100))  | currencyVND}}</h3>
              <h3 *ngIf="voucher===null" class="font-weight-medium">{{subTotal | currencyVND}}</h3>
            </div>
            <div class="d-flex justify-content-between">
              <h3 class="font-weight-medium">Giảm giá {{voucher ? '('+ voucher.discount + '%)' : '' }}</h3>
              <h3 *ngIf="voucher!==null;else noVoucher" class="font-weight-medium">{{(subTotalDiscount / (1 - voucher?.discount/100)) - subTotalDiscount| currencyVND}}</h3>
              <ng-template #noVoucher>
                <h3 class="font-weight-medium">-----</h3>
              </ng-template>
            </div>
          </div>
          <div class="card-footer border-secondary bg-transparent">
            <div class="d-flex justify-content-between mt-2">
              <h5 class="font-weight-bold">Tổng cộng</h5>
              <h5 class="font-weight-bold">{{totalSum | currencyVND}}</h5>
            </div>
            <ng-container *ngIf="username;else noLoginCart">
              <a [routerLink]="['/checkout']" class="btn btn-block btn-primary my-3 py-3">Tiến hành thanh toán</a>
            </ng-container>
            <ng-template #noLoginCart>
              <a [routerLink]="['/login']" class="btn btn-block btn-primary my-3 py-3">Đăng nhập để thanh toán</a>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noCartItems>
      <div class="col-lg-12 center-image">
        <img src="assets/images/empty-cart.png" alt="" style="height: 256px; width: 256px!important;">
      </div>
      <div class="col-lg-12 text-center">
        <h3 class="font-weight-semi-bold">Giỏ hàng của bạn trống</h3>
        <a [routerLink]="['/home']" class="btn btn-primary mt-3">Tiếp tục mua sắm</a>
      </div>
    </ng-template>
  </div>
</div>
<!-- Cart End -->
</body>
