/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bread-crumb{
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/images/coffee_bean_pattern.jpg");
  background-color: #cecdcd;
  padding: 40px 0;
  margin: 0 0 25px;
  .container{
    .bread-crumb-title{
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
    }
    .breadcrumb{
      padding-top: 10px;
      color: #fff;
      text-align: center;
      background-color: transparent;
      font-size: 14px;
      .breadcrumb-item{
        a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container-fluid{
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-expand-sm > .container-fluid{
  flex-wrap: nowrap;
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container-fluid,{
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-expand-md > .container-fluid{
  flex-wrap: nowrap;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container-fluid{
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-expand-lg > .container-fluid{
  flex-wrap: nowrap;
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container-fluid{
    padding-right: 0;
    padding-left: 0;
  }
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}


.navbar-expand-xl > .container-fluid{
  flex-wrap: nowrap;
}

.navbar-expand > .container-fluid{
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand > .container-fluid{
  flex-wrap: nowrap;
}

.pt-5{
  padding-top: 3rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.col-lg-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

.mb-5{
  margin-bottom: 3rem !important;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #6F6F6F;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #EDF1FF;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #EDF1FF;
}

.table tbody + tbody {
  border-top: 2px solid #EDF1FF;
}

.table {
  border-collapse: collapse !important;
}

//.table td,
//.table th {
//  background-color: #fff !important;
//}

.table-bordered {
  border: 1px solid #EDF1FF;
}



.table-bordered {
  thead, td {
    border-bottom-width: 2px;
  }
}


.table-responsive > .table-bordered {
  border: 0;
}


//.table-bordered th,
//.table-bordered td {
//  border: 1px solid #dee2e6 !important;
//}

.table-bordered th,
.table-bordered td {
  border: 1px solid #EDF1FF;
}

.table-bordered {
  border: 1px solid #EDF1FF;
}


.text-center {
  text-align: center !important;
}

.mb-0{
  margin-bottom: 0 !important;
}

.bg-secondary {
  background-color: #EDF1FF !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #bac9ff !important;
}

.text-dark {
  color: #1C1C1C !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: black !important;
}

.align-middle {
  vertical-align: middle !important;
}


.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group > .form-control{
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.input-group > .form-control + .form-control{
  margin-left: -1px;
}

.input-group > .form-control:focus{
  z-index: 3;
}

.mx-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-left: auto !important;
}


.btn {
  display: inline-block;
  font-weight: 400;
  color: #6F6F6F;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-append .btn + .btn,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.btn:hover {
  color: #6F6F6F;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}


.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.input-group-append .btn {
  position: relative;
  z-index: 2;
}

.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text{
  margin-left: -1px;
}

.btn-sm{
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0;
}

.btn-primary {
  color: #212529;
  background-color: #D19C97;
  border-color: #D19C97;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c5837c;
  border-color: #c17a74;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #c5837c;
  border-color: #c17a74;
  box-shadow: 0 0 0 0.2rem rgba(183, 138, 135, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #212529;
  background-color: #D19C97;
  border-color: #D19C97;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active{
  color: #fff;
  background-color: #c17a74;
  border-color: #bd726b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus{
  box-shadow: 0 0 0 0.2rem rgba(183, 138, 135, 0.5);
}

.fa {
  font-weight: 900;
}

.fa{
  font-family: "Font Awesome 5 Free", serif
}

.input-group > .form-control{
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f8f0ef;
  outline: 0;
  box-shadow: none;
}

.form-control::placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.input-group > .form-control:focus{
  z-index: 3;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #EDF1FF;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1.3rem;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

textarea.form-control {
  height: auto;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.col-lg-4{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}




.p-4 {
  padding: 1.5rem !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .card-header + .list-group{
  border-top: 0;
}

.border-secondary {
  border-color: #EDF1FF !important;
}

.card > .card-header + .list-group{
  border-top: 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.border-0 {
  border: 0 !important;
}

.font-weight-semi-bold {
  font-weight: 600;
}


.m-0 {
  margin: 0 !important;
}


h4, .h4 {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #1C1C1C;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.mb-3{
  margin-bottom: 1rem !important;
}

.pt-1{
  padding-top: 0.25rem !important;
}

.font-weight-medium {
  font-weight: 500;
}

.card > .list-group + .card-footer {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.bg-transparent {
  background-color: transparent !important;
}

.mt-2{
  margin-top: 0.5rem !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.my-3 {
  margin-top: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
}

.input-group-prepend, .input-group-append {
  display: flex;
}

.product-container {
  display: flex;
  align-items: center; /* Căn chỉnh theo chiều dọc để ảnh và tên sản phẩm được căn giữa */
}

.product-info {
  display: flex;
  align-items: center; /* Căn chỉnh theo chiều ngang để ảnh và tên sản phẩm được căn giữa */
}

.product-details {
  flex-grow: 1; /* Để tên sản phẩm tự động căn phải, nhận tất cả không gian còn lại */
}

.product-image-container {
  margin-right: 10px; /* Khoảng cách giữa ảnh và tên sản phẩm */
  max-width: 80px; /* Điều chỉnh kích thước ảnh nếu cần */
  min-width: 80px;
}

.product-image {
  max-width: 100%; /* Đảm bảo ảnh không vượt ra khỏi container */
}

.btn-group-quantity{
  width: 110px;
}

.total-column {
  min-width: 80px; /* Set a minimum width */
  max-width: 80px; /* Set a maximum width equal to the minimum */
  text-align: center; /* Center-align the content within the column */
}

@media (min-width: 1600px) {
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 1600px){
  .pl-xl-5, .px-xl-5 {
    padding-left: 3rem !important;
  }

  .pr-xl-5, .px-xl-5 {
    padding-right: 3rem !important;
  }

}

@media (min-width: 1600px){
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fs-14{
  font-size: 14px!important;
}

