.login {
  min-height: 100vh;
}

.bg-image {
  //background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-image: url('../../../../../assets/images/coffee_signin.jpg');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.mat-mdc-form-field{
  width: 100%;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
