<div class="outer mt-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 mt-5">
        <div class="card">
          <div class="card-header card-header-danger">
            <h1 class="card-title pt-3 font-weight-bold text-center">Đặt lại mật khẩu</h1>
            <p class="card-category text-center">Đừng lo lắng chúng tôi sẽ giúp bạn lấy lại mật khẩu</p>
          </div>

          <div class="panel-body p-3">
            <form [formGroup] = "form"  (ngSubmit)="onSubmit()" >
              <div class="form-floating mb-3">
                <mat-form-field>
                  <mat-label>Mật khẩu</mat-label>
                  <input matInput type="password" placeholder="Mật khẩu" formControlName="password">
                  <mat-hint>Mật khẩu phải từ 6 đến 20 kí tự và có ít nhất 1 ký tự đặc biệt, chữ in hoa và số</mat-hint>
                </mat-form-field>
                <mat-error *ngIf="form.get('password').touched && !form.get('password').valid">
                  <p *ngIf="form.get('password').hasError('required')">Mật khẩu không được để trống</p>
                  <p *ngIf="form.get('password').hasError('pattern')">Sai format</p>
                </mat-error>
<!--                <pre>{{form.controls.password.errors | json}}</pre>-->
              </div>
              <div class="form-floating mb-3">
                <mat-form-field>
                  <mat-label>Nhập lại mật khẩu</mat-label>
                  <input matInput type="password" placeholder="Nhập lại mật khẩu" formControlName="confirmPassword">
                </mat-form-field>
                <mat-error *ngIf="form.get('confirmPassword').touched && !form.get('confirmPassword').valid">
                  <p *ngIf="form.get('confirmPassword').hasError('required')">Không được để trống</p>
                  <p *ngIf="form.hasError('invalidConfirmPassword')">Mật khẩu không khớp</p>
                </mat-error>
<!--                <pre>{{form.controls.confirmPassword.errors | json}}</pre>-->
<!--                <pre>{{form.hasError('invalidConfirmPassword')}}</pre>-->
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-4 w-100" [disabled]="form.invalid">Reset mật khẩu</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
