<div class="col-lg-12">
  <div class="card-body p-4">
    <div class="table-responsive">
      <table class="table table-borderless text-center table-nowrap align-middle mb-0">
        <thead>
        <tr class="table-active">
          <th scope="col" style="width: 50px;">#</th>
          <th scope="col">Chi tiết sản phẩm</th>
          <th scope="col">Giá tiền</th>
          <th scope="col">Số lượng</th>
          <th scope="col" class="text-end">Tổng tiền</th>
        </tr>
        </thead>
        <tbody id="products-list">
        <tr *ngFor="let pd of orderDetails; let i = index">
          <th scope="row">{{i+1}}</th>
          <td class="text-start">
            <span class="fw-medium">{{pd.productDetail.product?.name}}</span>
            <p class="text-muted mb-0">{{pd.productDetail.weight }}</p>
          </td>
          <td>{{pd.price | currency: 'VND'}}</td>
          <td>{{pd.quantity}}</td>
          <td class="text-end">{{pd.total | currency: 'VND'}}</td>
        </tr>
        </tbody>
      </table><!--end table-->
    </div>
    <div class="border-top border-top-dashed mt-2">
      <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
        <tbody>
        <tr>
          <td>Tạm tính</td>
          <td class="text-end">{{(data.total - data.shippingFee??0 )| currency:'VND'}}</td>
        </tr>
        <!--                  <tr>-->
        <!--                    <td>Estimated Tax (12.5%)</td>-->
        <!--                    <td class="text-end">$172.04</td>-->
        <!--                  </tr>-->
        <tr>
          <td>Giảm giá (%)
            <!--                      <small class="text-muted"></small>-->
          </td>
          <td class="text-end">---</td>
        </tr>
        <tr>
          <td>Phí vận chuyển</td>
          <td class="text-end">{{data.shippingFee??0 | currency:'VND'}}</td>
        </tr>
        <tr class="border-top border-top-dashed fs-15">
          <th scope="row">Tổng tiền</th>
          <th class="text-end">{{data.total | currency:'VND'}}</th>
        </tr>
        </tbody>
      </table>
      <!--end table-->
    </div>
    <div class="mt-3">
      <h4 class="text-muted text-uppercase fw-semibold mb-3">Chi tiết thanh toán</h4>
      <p class="text-muted mb-1 fs-14">Họ và tên: <span class="fw-medium" id="card-holder-name">{{data.fullName}}</span></p>
      <p class="text-muted mb-1 fs-14">Phương thức thanh toán: <span class="fw-medium" id="payment-method">{{'Thanh toán bằng '+ data.paymentMethod}}</span></p>
      <p class="text-muted fs-14">Tổng tiền: <span id="card-total-amount">{{data.total | currency:'VND'}}</span></p>
    </div>
    <div class="hstack gap-2 justify-content-end d-print-none mt-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Trạng thái đơn hàng</mat-label>
          <mat-select
            [compareWith]="compareObjectFunction"
            formControlName="status"
            (selectionChange)="onStatusChange($event)">
            <mat-option *ngFor="let s of status" [value]="s.value">{{s.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="action" mat-dialog-actions>
          <button mat-raised-button type="button" [mat-dialog-close]="false">Hủy bỏ</button>
          <button mat-raised-button color="primary" type="submit">{{data ? 'Cập nhật' :'Lưu'}}</button>
        </div>
      </form>
      <div *ngIf="isLoading" class="loading">
        <mat-spinner color="primary"></mat-spinner>
      </div>
    </div>
  </div>
</div>









<div hidden="hidden" #orderMail>
  <table  cellspacing="0" align="center" style="width:100%;max-width:700px;border-radius:2px;border-spacing:0px;margin-left:auto;margin-right:auto;background:#fff;border:1px solid #dddddd" bgcolor="#FFF">
    <tbody>
    <tr>
      <td style="padding:15px;text-align:center;background-color:#fff">
        <a href="https://shopvnb.com" target="_blank" previewlistener="true">
          <img style="max-height:125px" src="https://i.postimg.cc/v8rFPrft/filtro-coffee.png" data-bit="iit">
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align:left;color:#666;font-size:15px;line-height:26px;padding:25px">
        Xin chào {{data.user.username}}<br><br>
        Cảm ơn bạn đã đặt hàng ở FiltroCoffee, đơn hàng của bạn đã được xác nhận và sớm sẽ được chuyển cho đơn vị vận chuyển. <br><br>
        <b>Họ tên:</b> {{data.fullName}}<br><br>
        <b>Số điện thoại</b> {{data.phone}}<br><br>
        <b>Địa chỉ:</b> {{data.address + ', '+ data.ward+ ', '+ data.district+ ', '+ data.province}}.<br>
        <table style="margin-top: 12px;" border="1">
          <tbody>
          <tr>
            <td>Tên sản phẩm</td>
            <td>Đơn vị</td>
            <td>Số lượng</td>
          </tr>
          <tr *ngFor="let od of orderDetails">
            <td>{{od.productDetail.product?.name}}</td>
            <td>{{od.productDetail.weight}}</td>
            <td>{{od.quantity}}</td>
          </tr>
          <tr>
            <td colspan="2"><b>Tổng cộng: </b></td><td><b>{{getOrderQuantity(orderDetails)}}</b></td>
          </tr>
          </tbody>
        </table>
        <p>Xem chi tiết đơn hàng tại website
          <a href="http://localhost:4200/orders" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://shopvnb.com/thanh-vien/xem-don-hang?ma_dh%3D2023011653147&amp;source=gmail&amp;ust=1701675216808000&amp;usg=AOvVaw3qDZvIxsdi0kn1pNn3WIUr" previewlistener="true">http://localhost:4200/orders</a>
        </p>
        <p>*Lưu ý nhỏ cho bạn: Đơn hàng sẽ được gọi để xác nhận trước khi giao. Phí ship và thời gian nhận hàng sẽ được thông báo cụ thể lúc xác nhận đơn hàng.</p>
        <p>***Đây là email tự động. Vui lòng không trả lời vào email này</p>
      </td>
    </tr>
    <tr>
      <td><hr></td>
    </tr>
    <tr>
      <td style="text-align:left;color:#666;font-size:15px;line-height:26px;padding:0 25px 25px 25px">----------</td>
    </tr>
    <tr>
      <td style="text-align:left;color:#666;font-size:15px;line-height:26px;padding:0 25px 25px 25px">Filtro Coffee</td>
    </tr>
    </tbody>
  </table>

</div>
