h1 { font-size: 50px; }
article { display: block; text-align: left; max-width: 650px; margin: 0 auto; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #efe8e8; text-decoration: none; }
p{ font-size: 16px; font-weight:500;}
