<div class="container mt-5">
  <article>
    <h1 style="font-size: 36px; font-weight: 700;">TRANG ĐANG SỬA CHỮA</h1>
    <div>
      <p>Xin lỗi vì sự bất tiện nhưng chúng tôi đang khác phục 1 vài vấn đề. Nếu bạn cần sự hỗ trợ thì hãy <a href="mailto:phutv1990@gmail.com" title="filtrocoffee@gmail.com">liên hệ ngay</a>, trang web sẽ quay trở lại ngay sau khi được sửa lỗi</p>
      <p>&mdash; FILTRO COFFEE</p>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <p class="day">{{ days }} Ngày</p>
      <p class="hour">{{ hours }} Giờ</p>
      <p class="minute">{{ minutes }} Phút</p>
      <p class="second">{{ seconds }} Giây</p>
    </div>
  </article>
</div>
