 <div class="card card-height-100 mb-3">
    <div class="card-header d-flex align-items-center">
      <h3 class="card-title mb-0 flex-grow-1"><strong>Phân loại</strong></h3>
      <div>
        <button type="button" class="btn btn-soft-secondary btn-sm me-1" #allMonoPieBtn>
          ALL
        </button>
        <button (click)="onLastMonth()" type="button" class="btn btn-soft-secondary btn-sm me-1" #1MonoPieMonthBtn>
          1M
        </button>
        <button type="button" class="btn btn-soft-secondary btn-sm me-1" #6MonoPieMonthBtn>
          6M
        </button>
        <button type="button" class="btn btn-soft-primary btn-sm" #1MonoPieYearBtn>
          1Y
        </button>
      </div>
    </div>
    <div class="card-body">
      <ng-container *ngIf="monochromePieChartOptions">
        <div id="splineChart">
          <apx-chart
            [series]="monochromePieChartOptions.series"
            [chart]="monochromePieChartOptions.chart"
            [labels]="monochromePieChartOptions.labels"
            [legend]="monochromePieChartOptions.legend"
            [title]="monochromePieChartOptions.title"
            [theme]="monochromePieChartOptions.theme"
            [responsive]="monochromePieChartOptions.responsive"
          ></apx-chart>
        </div>
      </ng-container>
    </div>
  </div>
