<div class="p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xxl-12 col-lg-6 order-first">
        <app-top-widgets></app-top-widgets>
      </div>
      <div class="col-xxl-9 order-last">
        <div class="card mb-3">
          <div class="card-header align-items-center d-flex">
            <h3 class="card-title mb-0 flex-grow-1"><strong>Revenue</strong></h3>
            <div>
              <button type="button" class="btn btn-soft-secondary btn-sm me-1">
                ALL
              </button>
              <button type="button" class="btn btn-soft-secondary btn-sm me-1">
                1M
              </button>
              <button type="button" class="btn btn-soft-secondary btn-sm me-1">
                6M
              </button>
              <button type="button" class="btn btn-soft-primary btn-sm">
                1Y
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-xxl-8">
                <div id="chart" class="wrapper" #lineChart>
                  <apx-chart
                    [series]="lineChartOptions.series"
                    [chart]="lineChartOptions.chart"
                    [xaxis]="lineChartOptions.xaxis"
                    [stroke]="lineChartOptions.stroke"
                    [colors]="lineChartOptions.colors"
                    [dataLabels]="lineChartOptions.dataLabels"
                    [legend]="lineChartOptions.legend"
                    [markers]="lineChartOptions.markers"
                    [grid]="lineChartOptions.grid"
                    [yaxis]="lineChartOptions.yaxis"
                    [title]="lineChartOptions.title"
                  ></apx-chart>
                </div>
              </div>
              <div class="col-xxl-4">
                <div class="d-flex align-items-center gap-3 mb-4 mt-3 mt-xxl-0">
                  <div class="input-group">
                    <mat-form-field class="mx-auto">
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                      </mat-date-range-input>
                      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row g-0 text-center">
                  <div class="col-6 col-sm-6">
                    <div class="p-3 border border-dashed border-bottom-0">
                      <h3 class="mb-1"><span class="counter-value" data-target="65802"><strong>65,802</strong></span></h3>
                      <p class="text-muted mb-0">Orders</p>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6">
                    <div class="p-3 border border-dashed border-start-0 border-bottom-0">
                      <h3 class="mb-1">$<span class="counter-value" data-target="98851.35"><strong>98,851.35</strong></span>k</h3>
                      <p class="text-muted mb-0">Earnings</p>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6">
                    <div class="p-3 border border-dashed">
                      <h3 class="mb-1"><span class="counter-value" data-target="2450"><strong>2,450</strong></span></h3>
                      <p class="text-muted mb-0">Refunds</p>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6">
                    <div class="p-3 border border-dashed border-start-0">
                      <h3 class="mb-1 text-success"><span class="counter-value" data-target="18.92"><strong>18.92</strong></span>%</h3>
                      <p class="text-muted mb-0">Conversation Ratio</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-lg-6 order-0 order-xxl-last">
        <div class="card mb-3">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <h3 class="card-title flex-grow-1 mb-0"><strong>Top Sales Location</strong></h3>
            </div>
          </div>
          <div class="card-body">
            <div class="mt-1">
              <h2 class="mb-1"><strong>65,802 </strong><small class="fw-normal fs-14">Total Sales</small></h2>
              <p class="text-muted">Sales from Jan - Dec 2022</p>
            </div>
            <div class="table-responsive table-card mt-3">
              <table class="table table-borderless table-striped align-middle table-sm fs-14 mb-0">
                <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <div>
<!--                        <img src="../assets/images/flags/us.svg" alt="" height="18" class="rounded-circle">-->
                      </div>
                      <h6 class="fw-medium fs-14 mb-0">United States</h6>
                    </div>
                  </td>
                  <td>
                    23410
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <div>
<!--                        <img src="../assets/images/flags/gl.svg" alt="" height="18" class="rounded-circle">-->
                      </div>
                      <h6 class="fw-medium fs-14 mb-0">Greenland</h6>
                    </div>
                  </td>
                  <td>
                    19520
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <div>
<!--                        <img src="../assets/images/flags/br.svg" alt="" height="18" class="rounded-circle">-->
                      </div>
                      <h6 class="fw-medium fs-14 mb-0">Brazil</h6>
                    </div>
                  </td>
                  <td>
                    16459
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <div>
<!--                        <img src="../assets/images/flags/au.svg" alt="" height="18" class="rounded-circle">-->
                      </div>
                      <h6 class="fw-medium fs-14 mb-0">Australia</h6>
                    </div>
                  </td>
                  <td>
                    14795
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <div>
<!--                        <img src="../assets/images/flags/ru.svg" alt="" height="18" class="rounded-circle">-->
                      </div>
                      <h6 class="fw-medium fs-14 mb-0">Russia</h6>
                    </div>
                  </td>
                  <td>
                    13479
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <div>
<!--                        <img src="../assets/images/flags/ca.svg" alt="" height="18" class="rounded-circle">-->
                      </div>
                      <h6 class="fw-medium fs-14 mb-0">Canada</h6>
                    </div>
                  </td>
                  <td>
                    12645
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row widget-responsive-fullscreen">
      <div class="col-xxl-3">
        <div class="card card-height-100 mb-3">
          <div class="card-header d-flex align-items-center">
            <h3 class="card-title mb-0 flex-grow-1"><strong>Customer Satisfaction</strong></h3>
          </div>
          <div class="card-body">
            <div id="splineChart">
              <apx-chart
                [series]="areaSplineChartOptions.series"
                [chart]="areaSplineChartOptions.chart"
                [xaxis]="areaSplineChartOptions.xaxis"
                [stroke]="areaSplineChartOptions.stroke"
                [tooltip]="areaSplineChartOptions.tooltip"
                [dataLabels]="areaSplineChartOptions.dataLabels"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3">
        <div class="card card-height-100 mb-3">
          <div class="card-header align-items-center d-flex">
            <h3 class="card-title mb-0 flex-grow-1"><strong>Top Categories</strong></h3>
          </div>
          <div class="card-body">
            <div id="radialBarChart">
              <apx-chart
                [series]="radialBarChartOptions.series"
                [chart]="radialBarChartOptions.chart"
                [plotOptions]="radialBarChartOptions.plotOptions"
                [labels]="radialBarChartOptions.labels"
                [legend]="radialBarChartOptions.legend"
                [colors]="radialBarChartOptions.colors"
                [responsive]="radialBarChartOptions.responsive"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3">
        <div class="card card-height-100 mb-3">
          <div class="card-header align-items-center d-flex">
            <h3 class="card-title mb-0 flex-grow-1"><strong>Top Categories</strong></h3>
          </div>
          <div class="card-body" >
            <div id="pieChart">
              <apx-chart
                [series]="pieChartOptions.series"
                [chart]="pieChartOptions.chart"
                [plotOptions]="pieChartOptions.plotOptions"
                [legend]="pieChartOptions.legend"
                [labels]="pieChartOptions.labels"
                [responsive]="pieChartOptions.responsive"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3">
        <div class="card card-height-100 mb-3">
          <div class="card-header align-items-center d-flex">
            <h3 class="card-title mb-0 flex-grow-1"><strong>Top Categories</strong></h3>
          </div>
          <div class="card-body">
            <div id="donutChart">
              <apx-chart
                [series]="donutChartOptions.series"
                [chart]="donutChartOptions.chart"
                [labels]="donutChartOptions.labels"
                [plotOptions]="donutChartOptions.plotOptions"
                [legend]="donutChartOptions.legend"
                [responsive]="donutChartOptions.responsive"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
