<div class="p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xxl-12 col-lg-6 order-first">
        <app-top-widgets></app-top-widgets>
      </div>
      <div class="col-xxl-9 order-last">
        <app-mid-widgets></app-mid-widgets>
      </div>
      <div class="col-xxl-3 col-lg-6 order-0 order-xxl-last">
        <app-right-widgets></app-right-widgets>
      </div>
    </div>
    <div class="row widget-responsive-fullscreen">
      <div class="col-xxl-3">
        <div class="card card-height-100 mb-3">
          <div class="card-header d-flex align-items-center">
            <h3 class="card-title mb-0 flex-grow-1"><strong>Customer Satisfaction</strong></h3>
          </div>
          <div class="card-body">
            <div id="splineChart">
              <apx-chart
                [series]="areaSplineChartOptions.series"
                [chart]="areaSplineChartOptions.chart"
                [xaxis]="areaSplineChartOptions.xaxis"
                [stroke]="areaSplineChartOptions.stroke"
                [tooltip]="areaSplineChartOptions.tooltip"
                [dataLabels]="areaSplineChartOptions.dataLabels"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3">
        <div class="card card-height-100 mb-3">
          <div class="card-header align-items-center d-flex">
            <h3 class="card-title mb-0 flex-grow-1"><strong>Top Categories</strong></h3>
          </div>
          <div class="card-body">
            <div id="radialBarChart">
              <apx-chart
                [series]="radialBarChartOptions.series"
                [chart]="radialBarChartOptions.chart"
                [plotOptions]="radialBarChartOptions.plotOptions"
                [labels]="radialBarChartOptions.labels"
                [legend]="radialBarChartOptions.legend"
                [colors]="radialBarChartOptions.colors"
                [responsive]="radialBarChartOptions.responsive"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3">
        <div class="card card-height-100 mb-3">
          <div class="card-header align-items-center d-flex">
            <h3 class="card-title mb-0 flex-grow-1"><strong>Top Categories</strong></h3>
          </div>
          <div class="card-body" >
            <div id="pieChart">
              <apx-chart
                [series]="pieChartOptions.series"
                [chart]="pieChartOptions.chart"
                [plotOptions]="pieChartOptions.plotOptions"
                [legend]="pieChartOptions.legend"
                [labels]="pieChartOptions.labels"
                [responsive]="pieChartOptions.responsive"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3">
        <div class="card card-height-100 mb-3">
          <div class="card-header align-items-center d-flex">
            <h3 class="card-title mb-0 flex-grow-1"><strong>Top Categories</strong></h3>
          </div>
          <div class="card-body">
            <div id="donutChart">
              <apx-chart
                [series]="donutChartOptions.series"
                [chart]="donutChartOptions.chart"
                [labels]="donutChartOptions.labels"
                [plotOptions]="donutChartOptions.plotOptions"
                [legend]="donutChartOptions.legend"
                [responsive]="donutChartOptions.responsive"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
