<div class="widget-container">
  <div class="widget">
    <div class="icon">
      <fa-icon [icon]="faLocation"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">Locations</div>
    </div>
  </div>
  <div class="widget">
    <div class="icon">
      <fa-icon [icon]="faLocation"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">Locations</div>
    </div>
  </div>
  <div class="widget">
    <div class="icon">
      <fa-icon [icon]="faLocation"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">Locations</div>
    </div>
  </div>
  <div class="widget">
    <div class="icon">
      <fa-icon [icon]="faLocation"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">Locations</div>
    </div>
  </div>
</div>
