<mat-drawer-container *ngIf="isAuthenticated;else login" >
  <mat-drawer mode="side" [opened]="sideNavOpen" >
    <app-side-nav [isEmployee]="isEmployee"></app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header [name]="name"
                (onToggleSideNav)="sideNavToggle()"
                (onLogout)="logout()"
    ></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #login>
  <router-outlet></router-outlet>
</ng-template>
