<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <mat-tab-group>
          <mat-tab label="Hồ sơ">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Hồ sơ cá nhân</h4>
                  <p class="card-category">Chỉnh sửa hồ sơ của bạn</p>
                </div>
                <div class="card-body">
                  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Username</mat-label>
                          <input matInput formControlName="username" placeholder="Username">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="email" placeholder="Email address" type="email">
                        </mat-form-field>
                        <mat-error *ngIf="profileForm.get('email').touched && !profileForm.get('email').valid">
                          <p *ngIf="profileForm.get('email').hasError('required')">Email không được để trống</p>
                          <p *ngIf="profileForm.get('email').hasError('email')">Email sai format</p>
                        </mat-error>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Họ</mat-label>
                          <input matInput formControlName="firstname" placeholder="Fist Name" type="text">
                        </mat-form-field>
                        <mat-error *ngIf="profileForm.get('firstname').touched && !profileForm.get('firstname').valid">
                          <p *ngIf="profileForm.get('firstname').hasError('required')">Họ không được để trống</p>
                          <p *ngIf="profileForm.get('firstname').hasError('pattern')">Họ không chứa số và kí tự đặc biệt</p>
                        </mat-error>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Tên</mat-label>
                          <input matInput formControlName="lastname" placeholder="Last Name" type="text">
                        </mat-form-field>
                        <mat-error *ngIf="profileForm.get('lastname').touched && !profileForm.get('lastname').valid">
                          <p *ngIf="profileForm.get('lastname').hasError('required')">Tên không được để trống</p>
                          <p *ngIf="profileForm.get('lastname').hasError('pattern')">Tên không chứa số và kí tự đặc biệt</p>
                        </mat-error>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="fill">
                          <mat-label>Ngày sinh</mat-label>
                          <input [matDatepicker]="Picker" matInput formControlName="dob">
                          <mat-hint>DD/MM/YYYY</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="Picker"></mat-datepicker-toggle>
                          <mat-datepicker #Picker>
                            <mat-datepicker-actions>
                              <button mat-button matDatepickerCancel>Hủy</button>
                              <button mat-raised-button color="primary" matDatepickerApply>Chọn</button>
                            </mat-datepicker-actions>
                          </mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Số điện thoại</mat-label>
                          <input maxlength="10" matInput formControlName="phone" placeholder="Phone" type="text">
                        </mat-form-field>
                        <mat-error *ngIf="profileForm.get('phone').touched && !profileForm.get('phone').valid">
                          <p *ngIf="profileForm.get('phone').hasError('required')">Số điện thoại không được để trống</p>
                          <p *ngIf="profileForm.get('phone').hasError('pattern')">Chỉ chứa số và dài 10 kí tự</p>
                        </mat-error>
                      </div>
                    </div>
                    <div class="row">
                      <mat-form-field>
                        <mat-label>Địa chỉ</mat-label>
                        <input matInput formControlName="address" placeholder="Address" type="text">
                      </mat-form-field>
                      <mat-error *ngIf="profileForm.get('address').touched && !profileForm.get('address').valid">
                        <p *ngIf="profileForm.get('address').hasError('required')">Địa chỉ không được để trống</p>
                      </mat-error>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Thành phố/Tỉnh</mat-label>
                          <mat-select (selectionChange)="onProvinceChange($event)" formControlName="province">
                            <mat-option>Chọn thành phố/Tỉnh</mat-option>
                            <mat-option  *ngFor="let p of provinces" [value]="p.name" >{{p.name}}</mat-option  >
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label >Quận/Huyện</mat-label>
                          <mat-select (selectionChange)="onDistrictChange($event)" formControlName="district">
                            <mat-option>Chọn Quận/Huyện</mat-option>
                            <mat-option *ngFor="let d of districts" [value]="d.name">{{d.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Xã/Phường</mat-label>
                          <mat-select (selectionChange)="onWardChange($event)" formControlName="ward">
                            <mat-option>Chọn Xã/Phường</mat-option>
                            <mat-option *ngFor="let w of wards" [value]="w.name">{{w.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <button [disabled]="profileForm.invalid" mat-raised-button type="submit" class="btn btn-danger pull-right">Cập nhật hồ sơ</button>
                  </form>
                </div>
              </div>
          </mat-tab>
          <mat-tab label="Mật khẩu">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Mật khẩu</h4>
                <p class="card-category">Thay đổi mật khẩu của bạn của bạn</p>
              </div>
              <div class="card-body">
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
                  <div class="row">
                    <div class="col">
                      <mat-form-field>
                        <mat-label>Mật khẩu cũ</mat-label>
                        <input matInput formControlName="oldPassword" placeholder="Mật khẩu cũ" type="password">
<!--                        <mat-icon  style="position: absolute; right: 10px ;cursor: pointer;" (click)="passwordType = !passwordType">-->
<!--                          {{ passwordType ? 'visibility' : 'visibility_off' }}-->
<!--                        </mat-icon>-->
                      </mat-form-field>
                      <a routerLink="/forgot-password" class="d-flex justify-content-end align-items-center text-decoration-none">Quên mật khẩu?</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field>
                        <mat-label>Mật khẩu mới</mat-label>
                        <input matInput formControlName="newPassword" placeholder="Mật khẩu mới" [type]="passwordType ? 'text' : 'password'">
                        <mat-icon  style="position: absolute; right: 10px ;cursor: pointer;" (click)="passwordType = !passwordType">
                          {{ passwordType ? 'visibility' : 'visibility_off' }}
                        </mat-icon>
                        <mat-hint>Mật khẩu phải từ 6 đến 20 kí tự và có ít nhất 1 ký tự đặc biệt, chữ in hoa và số</mat-hint>
                      </mat-form-field>
                      <mat-error *ngIf="passwordForm.get('newPassword').touched && !passwordForm.get('newPassword').valid">
                        <p *ngIf="passwordForm.get('newPassword').hasError('required')">Mật khẩu không được để trống</p>
                        <p *ngIf="passwordForm.get('newPassword').hasError('pattern')">Sai passwordFormat</p>
                      </mat-error>
                      <pre>{{passwordForm.controls.newPassword.errors | json}}</pre>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field>
                        <mat-label>Nhập lại mật khẩu mới</mat-label>
                        <input matInput formControlName="confirmPassword" placeholder="Nhập lại mật khẩu mới" type="password">
                      </mat-form-field>
                      <mat-error *ngIf="passwordForm.hasError('invalidConfirmPassword')">Mật khẩu không khớp</mat-error>
                      <pre>{{passwordForm.errors | json}}</pre>
                    </div>
                  </div>
                  <button [disabled]="passwordForm.invalid" mat-raised-button type="submit" class="btn btn-danger pull-right">Đổi mật khẩu</button>
                </form>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div >

      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card card-profile">
          <div class="d-flex card-avatar">
              <img class="mx-auto" ngSrc="../../../../../assets/images/logoOnFull.svg" height="350" width="350" alt=""/>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
