<div class="" mat-dialog-title>
  <h1>Thêm tên danh mục</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="content" mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Loại sản phẩm</mat-label>
        <mat-select [compareWith]="compareObjectFn" [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange($event)">
          <mat-option *ngFor="let c of categories" [value]="c">{{c.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sản phẩm</mat-label>
        <mat-select [compareWith]="compareObjectFn" formControlName="product">
          <mat-option *ngFor="let p of products" [value]="p">{{p.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Khối lượng sản phẩm</mat-label>
        <input type="number" matInput formControlName="weight">
      </mat-form-field>
      <mat-error *ngIf="form.get('weight').touched && !form.get('weight').valid">
        <span *ngIf="form.get('weight').hasError('required')">Không được để trống</span>
        <span *ngIf="form.get('weight').hasError('pattern')">Chỉ được nhập số</span>
      </mat-error>
      <mat-form-field appearance="outline">
        <mat-label>Số lượng</mat-label>
        <input type="number" matInput formControlName="stock">
      </mat-form-field>
      <mat-error *ngIf="form.get('stock').touched && !form.get('stock').valid">
        <span *ngIf="form.get('stock').hasError('required')">Không được để trống</span>
        <span *ngIf="form.get('stock').hasError('pattern')">Chỉ được nhập số</span>
      </mat-error>
      <mat-form-field appearance="outline">
        <mat-label>Giá tiền</mat-label>
        <input type="number" matInput formControlName="price">
      </mat-form-field>
      <mat-error *ngIf="form.get('price').touched && !form.get('price').valid">
        <span *ngIf="form.get('price').hasError('required')">Không được để trống</span>
        <span *ngIf="form.get('price').hasError('pattern')">Chỉ được nhập số</span>
      </mat-error>
      <mat-form-field appearance="fill">
        <mat-label>Trạng thái</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="true">Mở</mat-option>
          <mat-option [value]="false">Đóng</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="action" mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="false">Hủy bỏ</button>
    <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">{{data ? 'Cập nhật' :'Lưu'}}</button>
  </div>
</form>
