<header class="section-header mt-3">
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center align-content-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a routerLink="/home" class="navbar-brand fs-1 mx-auto">
            FILTRO
          </a> <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8 d-flex">
          <div class="d-none d-lg-block col d-flex justify-content-start align-items-center">
            <div class="col d-flex align-items-center">
              <mat-icon>local_shipping</mat-icon>
              <div class="col d-flex flex-column ms-3">
                <span class="text-danger">Giao hàng tận nhà</span>
                <span>Giá cả phải chăng</span>
              </div>
            </div>
          </div>
          <div class="d-none d-lg-block col d-flex justify-content-start align-items-center">
            <div class="col d-flex align-items-center">
              <mat-icon>system_update_alt</mat-icon>
              <div class="col d-flex flex-column ms-3">
                <span class="text-danger">Cập nhật liên tục</span>
                <span>Dễ dàng thực hiện</span>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <ng-container *ngIf="username;else login">
              <span>Xin chào {{username}}</span>
            </ng-container>
            <ng-template #login>
              <button mat-icon-button [matMenuTriggerFor]="user">
                <mat-icon
                  fontIcon="account_circle"></mat-icon>
              </button>
              <mat-menu #user="matMenu">
                <div class="p-3 custom-size">
                  <a class="user-part" routerLink="/login">Đăng nhập</a>
                </div>
                <div class="px-3 pb-3">
                  <a class=user-part routerLink="/register">Đăng ký</a>
                </div>
              </mat-menu>
            </ng-template>

            <button mat-icon-button [matMenuTriggerFor]="wishlist">
              <mat-icon
                [matBadge]="1"
                matBadgeColor="warn"
                fontIcon="favorite"></mat-icon>
            </button>
            <mat-menu #wishlist="matMenu">
              <div class="p-3 custom-size">
                <div class="pb-3 d-flex justify-content-between">
                  <span class="mr-16">1 items</span>
                  <a routerLink="cart">View Cart</a>
                </div>
              </div>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="cart">
              <mat-icon
                [matBadge]="1"
                matBadgeColor="warn"
                fontIcon="shopping_cart"></mat-icon>
            </button>
            <mat-menu #cart="matMenu">
              <div class="p-3 custom-size">
                <div class="pb-3 d-flex justify-content-between">
                  <span class="mr-16">1 items</span>
                  <a class="rounded-link" routerLink="cart">View Cart</a>
                </div>
                <mat-divider></mat-divider>
                <div class="py-3">
                  <div class="d-flex justify-content-between font-light mb-2">
                    ASC X 1
                    <span class="fw-bold">{{'150' | currency}}</span>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="py-3 d-flex justify-content-between">
                  Total <span class="fw-bold">{{'450' | currency}}</span>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="pt-3 d-flex justify-content-around">
                <button class="btn btn-danger btn-circle">
                  <mat-icon fontIcon="remove_shopping_cart"></mat-icon>
                </button>
                <button routerLink="/cart" class="btn btn-success btn-circle">
                  <mat-icon fontIcon="shopping_cart_checkout"></mat-icon>
                </button>
              </div>
            </mat-menu>
          </div>
        </div> <!-- col end.// -->
        <div class="col-lg-5 col-md-12 col-12">
          <form [formGroup]="form" (ngSubmit)="onSearch()" class="d-flex ml-2" role="search">
            <div class="search-container">
              <input matInput formControlName="search" class="form-control me-2" style="width: 100%;" type="search" placeholder="Search" aria-label="Search">
              <button mat-icon-button type="submit" class="search-button">
                <mat-icon fontIcon="search"></mat-icon>
              </button>
            </div>
          </form>
        </div> <!-- col end.// -->
      </div> <!-- row end.// -->
    </div> <!-- container end.// -->
  </section> <!-- header-main end.// -->
  <nav class="p-3 navbar navbar-light bg-light border-top navbar-expand-lg mt-3">
    <div class="container">
      <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" appDropdownHover>
            <a class="ps-0 dropdown-toggle nav-link item-content" routerLink="/" data-bs-toggle="dropdown">
              Danh mục
            </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#"> Test 1 </a>
                  <mat-divider></mat-divider>
                  <div class="nav-child">
                    <ul style="column-count: 2;">
                      <li><a href="">T</a></li>
                      <li><a href="">A</a></li>
                      <li><a href="">V</a> </li>
                      <li><a href="">S</a></li>
                      <li><a href="">T</a></li>
                      <li><a href="">J</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Submenu two</a>
                  <mat-divider></mat-divider>
                  <div class="nav-child">
                    <ul style="column-count: 2;">
                      <li><a href="">T</a></li>
                      <li><a href="">A</a></li>
                      <li><a href="">V</a> </li>
                      <li><a href="">S</a></li>
                      <li><a href="">T</a></li>
                      <li><a href="">J</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Submenu three</a>
                  <mat-divider></mat-divider>
                  <div class="nav-child">
                    <ul style="column-count: 2;">
                      <li><a href="">T</a></li>
                      <li><a href="">A</a></li>
                      <li><a href="">V</a> </li>
                      <li><a href="">S</a></li>
                      <li><a href="">T</a></li>
                      <li><a href="">J</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
          </li>
          <li class="nav-item dropdown" appDropdownHover>
            <a class="dropdown-toggle nav-link item-content" routerLink="/" data-bs-toggle="dropdown">
              Sản phẩm mới
            </a>
            <ul class="dropdown-menu">
              <li> <a class="dropdown-item" href="#">Submenu one </a> </li>
              <li> <a class="dropdown-item" href="#">Submenu two</a> </li>
              <li> <a class="dropdown-item" href="#">Submenu three</a> </li>
            </ul>
          </li>
          <li class="nav-item dropdown" appDropdownHover>
            <a class="dropdown-toggle nav-link item-content" routerLink="/" data-bs-toggle="dropdown">
              Thương hiệu
            </a>
            <ul class="dropdown-menu">
              <li> <a class="dropdown-item" href="#">Submenu one </a> </li>
              <li> <a class="dropdown-item" href="#">Submenu two</a> </li>
              <li> <a class="dropdown-item" href="#">Submenu three</a> </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link item-content" routerLink="/">
              Hộp quà tặng (Đặc biệt)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link item-content" routerLink="/">
              sự kiện
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link item-content" routerLink="/">
              Liên hệ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link item-content" routerLink="/">
              giới thiệu
            </a>
          </li>
        </ul>
      </div> <!-- collapse end.// -->
    </div> <!-- container end.// -->
  </nav> <!-- navbar end.// -->
</header> <!-- section-header end.// -->
