::ng-deep .mat-mdc-menu-panel {
  //max-width:fit-content !important;
  max-height: 300px !important;
  overflow: scroll;
}

.mat-header{
  border-top-width: 2px;
}

.cart-link{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  &:hover{
    cursor: pointer;
    color: #cecdcd;
  }
}

.custom-size{
  width:250px;
}

.divide-y{
  border-top-width: 0;
  border-bottom-width: 0;
}

.divide-solid{
  border-style: solid;
}

.search-container {
  width: 100%;
  position: relative;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; /* Đảm bảo nút bằng chiều cao của input */
  border: none; /* Xóa viền của nút */
  background: none; /* Xóa nền của nút */
  cursor: pointer;
  padding: 8px; /* Điều chỉnh khoảng cách từ nút đến biên của input */
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0;
  border-radius: 9999px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

.user-part{
  color: #fff;
  background: #cecdcd;
  display: flex;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  white-space: nowrap;
  padding: 0;
  font-size: 15px;
  border-radius: 4px;
  user-select: none;
  width: 236px;
  height: 41px;
  line-height: 41px;
  outline: none;
  text-shadow: #ababab 0 0 1px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover{
    background: #bfbfbf;
  }
}

.item-content{
  color: #000;
  font-size: 18px;
  padding: 10px 15px;
  text-align: center;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-large{
  width: 750px;
}

ul{
  padding: 0;
}

li{
  list-style: none;
  font-size: 16px;
  line-height: 1.6;
  .active-link{
    color: #cecdcd;
  }
  a{
    text-decoration: none;
    color: #000;
    &:hover{
      cursor: pointer;
      color: #cecdcd;
    }
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    width: 100%;
  }
}

