<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSideNav()"><mat-icon fontIcon="menu"></mat-icon></button>
    <div class="row mr-2 ml-auto">
      <ul>
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="admin mt-2 d-flex align-items-center">
            <img src="../../../../favicon.ico" alt="" class="admin-image mr-1 p-2"> {{name}}
            <mat-icon class="admin-image-icon ml-1" fontIcon="keyboard_arrow_down"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="toggleLogout()" mat-menu-item>
              <mat-icon fontIcon="exit_to_app"></mat-icon> Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

