 <div class="card card-height-100 mb-3">
    <div class="card-header align-items-center d-flex">
      <h3 class="card-title mb-0 flex-grow-1"><strong>Thương hiệu</strong></h3>
      <div>
        <mat-button-toggle-group multiple (change)="toggleChange($event)">
          <mat-button-toggle (change)="onLastMonth($event)" value="1M">1M</mat-button-toggle>
          <mat-button-toggle (change)="onChosenMonth(3, $event)" value="3M">3M</mat-button-toggle>
          <mat-button-toggle (change)="onChosenMonth(6, $event)" value="6M">6M</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="card-body">
      <ng-container *ngIf="radialBarChartOptions">
        <div id="radialBarChart">
          <apx-chart
            [series]="radialBarChartOptions.series"
            [chart]="radialBarChartOptions.chart"
            [plotOptions]="radialBarChartOptions.plotOptions"
            [labels]="radialBarChartOptions.labels"
            [legend]="radialBarChartOptions.legend"
            [colors]="radialBarChartOptions.colors"
            [responsive]="radialBarChartOptions.responsive"
          ></apx-chart>
        </div>
      </ng-container>
    </div>
  </div>
