<div class="outer mt-5">
<div class="container">
  <div class="row">
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 mt-5">
      <div class="card">
      <div class="card-header card-header-danger">
        <h1 class="card-title pt-3 font-weight-bold text-center">Quên mật khẩu</h1>
        <p class="card-category text-center">Đừng lo lắng chúng tôi sẽ giúp bạn lấy lại mật khẩu</p>
      </div>
      <div class="panel-body p-3">
          <form [formGroup] = "form"  (ngSubmit)="onSubmit()" >
            <div class="form-group pt-3">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Email" formControlName="email">
              </mat-form-field>
              <mat-error *ngIf="form.get('email').touched && !form.get('email').valid">
                <p *ngIf="form.get('email').dirty && form.get('email').hasError('required')">Email không được để trống</p>
                <p *ngIf="form.get('email').dirty && form.get('email').hasError('pattern')">Email không đúng format</p>
              </mat-error>
<!--              <pre>{{form.controls.email.errors | json}}</pre>-->
            </div>
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-block mt-4  w-100">Reset mật khẩu</button>
          </form>
          <div *ngIf="isLoading" class="loading">
            <mat-spinner color="primary"></mat-spinner>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
