.login {
  min-height: 100vh;
}

.bg-image {
  //background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background: #f4f5f6 url('https://bizweb.dktcdn.net/100/440/464/themes/839921/assets/account-banner.jpg?1693361499643') no-repeat top;
  padding: 250px 20px 30px;
//  background-size: cover;
//  background-position: center;
}

.policy-title{
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  color: #303846;
}

.mat-icon{
  vertical-align: middle;
  margin-right: 1rem;
  color: #94a3b8 !important;
}

.mat-mdc-form-field{
  width: 100%;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
