<div class="container">
  <form action="" class="login-form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <h2>Login Form</h2>
    <h1 *ngIf="errorMessage">{{errorMessage}}</h1>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input
          required
          matInput
          ngModel
          #username="ngModel"
          name="firstname"
          [(ngModel)]="register.firstname"
          placeholder="Firstname"
        >
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input
          required
          matInput
          ngModel
          #username="ngModel"
          name="lastname"
          [(ngModel)]="register.lastname"
          placeholder="Lastname"
        >
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          required
          matInput
          ngModel
          #username="ngModel"
          name="username"
          [(ngModel)]="register.username"
          placeholder="Username"
        >
<!--        <mat-error *ngIf="username.touched && !username.valid">-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="errorMessage"><span>{{errorMessage}}</span></mat-error>-->
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          required
          matInput
          ngModel
          #username="ngModel"
          name="email"
          [(ngModel)]="register.email"
          placeholder="Email"
        >
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input required
               matInput
               ngModel
               #password="ngModel"
               name="password"
               [(ngModel)]="register.password"
               placeholder="Password"
               type="password"
        >

      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input required
               matInput
               ngModel
               #password="ngModel"
               name="confirmPassword"
               [(ngModel)]="register.confirmPassword"
               placeholder="Confirm your password"
               type="password"
        >
      </mat-form-field>
    </div>
    <div class="row-control row-actions">
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </div>
    <pre> {{username.errors | json}}</pre>
    <pre> {{password.errors | json}}</pre>
    <pre>
    {{registerForm.value | json}}
    </pre>
  </form>
</div>
