 <div class="card card-height-100 mb-3">
    <div class="card-header align-items-center d-flex">
      <h3 class="card-title mb-0 flex-grow-1"><strong>Nguồn gốc</strong></h3>
      <div>
        <button type="button" class="btn btn-soft-secondary btn-sm me-1" #allDonutBtn>
          ALL
        </button>
        <button (click)="onLastMonth()" type="button" class="btn btn-soft-secondary btn-sm me-1" #1DonutMonthBtn>
          1M
        </button>
        <button type="button" class="btn btn-soft-secondary btn-sm me-1" #6DonutMonthBtn>
          6M
        </button>
        <button type="button" class="btn btn-soft-primary btn-sm" #1DonutYearBtn>
          1Y
        </button>
      </div>
    </div>
    <div class="card-body">
      <ng-container *ngIf="donutChartOptions">
        <div id="donutChart">
          <apx-chart
            [series]="donutChartOptions.series"
            [chart]="donutChartOptions.chart"
            [labels]="donutChartOptions.labels"
            [plotOptions]="donutChartOptions.plotOptions"
            [legend]="donutChartOptions.legend"
            [responsive]="donutChartOptions.responsive"
          ></apx-chart>
        </div>
      </ng-container>
    </div>
  </div>
