 <footer
    class="text-center text-lg-start text-white"
  >
   <section
     style="background-color: #1c2331">


    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-between p-4"
      style="background-color: #6351ce"
    >
      <!-- Left -->
      <div class="me-5">
        <span>Liên hệ với chúng tôi qua các kênh mạng xã hội:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="links">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h3 class="text-uppercase fw-bold">FILTRO</h3>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.
              ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 support">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold">Hỗ trợ khách hàng</h3>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              <a href="#!" class="text-white text-decoration-none">Hướng dẫn mua hàng</a>
            </p>
            <p>
              <a href="#!" class="text-white text-decoration-none">Hướng dẫn thanh toán</a>
            </p>
            <p>
              <a href="#!" class="text-white text-decoration-none">Hướng dẫn giao nhận</a>
            </p>
            <p>
              <a href="#!" class="text-white text-decoration-none">Điều khoản dịch vụ</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 policy">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold">Chính sách</h3>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              <a href="#!" class="text-white text-decoration-none">Chính sách bảo mật thông tin</a>
            </p>
            <p>
              <a href="#!" class="text-white text-decoration-none">Chính sách bảo mật thông tin giao dịch</a>
            </p>
            <p>
              <a href="#!" class="text-white text-decoration-none">Điều khoản giao dịch chung</a>
            </p>
            <p>
              <a href="#!" class="text-white text-decoration-none">Chính sách vận chuyển giao hàng</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold">Liên hệ</h3>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p><i class="fas fa-home mr-3"></i> HCM, Center District, VN</p>
            <p><i class="fas fa-envelope mr-3"></i> filtro@workshop.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 84 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 84 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2023 Inspired by:
      <a class="text-white" href="https://coffeestore.vn/"
      >coffestore.vn</a
      >
    </div>
    <!-- Copyright -->
   </section>
  </footer>
  <!-- Footer -->
