footer{
  //background: #efefef;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .links{
    font-size: 15px;
    .support{
      p{
        a {
          &:hover{
            color:gray!important;
          }
        }
      }
    }
  }

    .policy{
      p{
        a {
          &:hover{
            color:gray!important;
          }
        }
      }
    }

  }


