.f-w-400{
  font-weight: 400;
}

.f-w-500{
  font-weight: 500;
}

.f-w-600{
  font-weight: 600;
}

.fs-16{
  font-size: 16px;
}

.border-custom{
  border-top: 1px solid green;
  border-top-width: 9px;
}
