/* You can add global styles to this file, and also import other style files */
/* temp for chatbot render a tag*/
a{
  text-decoration:none;
  color: #ffffff;
}
/* temp for chatbot render a tag*/
a:hover{
    color: #FFD4A6;
    text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}


.clean{
  a{
    text-decoration: none !important;
    color: #787878 !important;
  }
}


.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
  white-space: normal;
  //word-wrap: break-word;
  //max-width: 200px;
}


.mat-sort-header-container {
  justify-content: center !important;

}

.mat-button-toggle-checked {
  background-color: #729CA2 !important;
  color: white !important;
}

.mat-card-header-text {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
}

.mat-mdc-form-field-wrapper {
  width: 100% !important;
  padding: 0 !important;
}

.mat-mdc-form-field-flex {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
}

.mat-form-field-infix {
  padding: 0 !important;
  border: 0 !important;
  margin-left: 16px !important;
}

.mat-card {
  padding: 0 !important;
}

::-webkit-scrollbar {
  display: none;
}

//mat-header-cell, mat-cell {
//  justify-content: center;
//}
//
//th.mat-header-cell {
//  text-align: center !important;
//}


//.mat-sort-header-container {
//  display:flex;
//  justify-content:center;
//}


* {
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Lora', serif;
}

